Service References/SmartConnect/cardmanager23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SmartConnect-CardManagement3-UpdateCardholderData" elementFormDefault="qualified" targetNamespace="SmartConnect-CardManagement3-UpdateCardholderData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://warwickshiretest.smartcitizen.net/cardmanager3/cardmanager.svc?xsd=xsd3" namespace="SmartConnect-CardManagement3-RecordIdentifier" />
  <xs:complexType name="UpdateCardholderData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CitizenData" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q1="SmartConnect-CardManagement3-RecordIdentifier" minOccurs="0" name="Identifier" nillable="true" type="q1:RecordIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateCardholderData" nillable="true" type="tns:UpdateCardholderData" />
</xs:schema>