Service References/SmartConnect/cardmanager27.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SmartConnect-CardManagement3-CardListEntry" elementFormDefault="qualified" targetNamespace="SmartConnect-CardManagement3-CardListEntry" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCardListEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardListEntry" nillable="true" type="tns:CardListEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardListEntry" nillable="true" type="tns:ArrayOfCardListEntry" />
  <xs:complexType name="CardListEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="MifareSerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmartCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardListEntry" nillable="true" type="tns:CardListEntry" />
</xs:schema>