CTSmartCitizenConnect - V1 Self/Service References/SmartConnect/cardmanager22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SmartConnect-CardManagement3-GetBatchData" elementFormDefault="qualified" targetNamespace="SmartConnect-CardManagement3-GetBatchData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetBatchData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchDestination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filter" type="xs:int" />
      <xs:element minOccurs="0" name="IncludeConfiguration" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBatchData" nillable="true" type="tns:GetBatchData" />
</xs:schema>