CTSmartCitizenConnect - V1 Self/Service References/SmartConnect/cardmanager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="SmartConnect-CardManagement3-ReconcileBatchData" elementFormDefault="qualified" targetNamespace="SmartConnect-CardManagement3-ReconcileBatchData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://warwickshiretest.smartcitizen.net/cardmanager3/cardmanager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://warwickshiretest.smartcitizen.net/cardmanager3/cardmanager.svc?xsd=xsd23" namespace="SmartConnect-CardManagement3-SmartCard" />
  <xs:complexType name="ReconcileBatchData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchID" type="ser:guid" />
      <xs:element xmlns:q1="SmartConnect-CardManagement3-SmartCard" minOccurs="0" name="Cards" nillable="true" type="q1:ArrayOfSmartCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReconcileBatchData" nillable="true" type="tns:ReconcileBatchData" />
</xs:schema>