CTSmartCitizenConnect - V1 Self/Service References/SmartConnect/cardmanager23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SmartConnect-CardManagement3-GetMessageData" elementFormDefault="qualified" targetNamespace="SmartConnect-CardManagement3-GetMessageData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://warwickshiretest.smartcitizen.net/cardmanager3/cardmanager.svc?xsd=xsd3" namespace="SmartConnect-CardManagement3-RecordIdentifier" />
  <xs:complexType name="GetMessageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="MessageTypeID" type="xs:int" />
      <xs:element xmlns:q1="SmartConnect-CardManagement3-RecordIdentifier" minOccurs="0" name="SpecificRecord" nillable="true" type="q1:RecordIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMessageData" nillable="true" type="tns:GetMessageData" />
</xs:schema>