CTSmartCitizenConnect - V1 Self/Service References/SmartConnect/cardmanager5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SmartConnect-CardManagement3-CardholderExistsData" elementFormDefault="qualified" targetNamespace="SmartConnect-CardManagement3-CardholderExistsData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://warwickshiretest.smartcitizen.net/cardmanager3/cardmanager.svc?xsd=xsd3" namespace="SmartConnect-CardManagement3-RecordIdentifier" />
  <xs:complexType name="CardholderExistsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Forename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="SmartConnect-CardManagement3-RecordIdentifier" minOccurs="0" name="UniqueIdentifier" nillable="true" type="q1:RecordIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardholderExistsData" nillable="true" type="tns:CardholderExistsData" />
</xs:schema>