CTSmartCitizenConnect - V1 Self/Service References/SmartConnect/cardmanager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SmartConnect-CardManagement3-TerminalMessage" elementFormDefault="qualified" targetNamespace="SmartConnect-CardManagement3-TerminalMessage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTerminalMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerminalMessage" nillable="true" type="tns:TerminalMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerminalMessage" nillable="true" type="tns:ArrayOfTerminalMessage" />
  <xs:complexType name="TerminalMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Colour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalMessage" nillable="true" type="tns:TerminalMessage" />
</xs:schema>