CTSmartCitizenConnect/Service References/SmartConnect/cardmanager17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SmartConnect-CardManagement3-RecordIdentifier" elementFormDefault="qualified" targetNamespace="SmartConnect-CardManagement3-RecordIdentifier" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RecordIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardholderID" type="xs:int" />
      <xs:element minOccurs="0" name="ThirdPartyKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThirdPartyValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordIdentifier" nillable="true" type="tns:RecordIdentifier" />
</xs:schema>