CTSmartCitizenConnect/Service References/SmartConnect/cardmanager18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SmartConnect-CardManagement3-CreateCardholderData" elementFormDefault="qualified" targetNamespace="SmartConnect-CardManagement3-CreateCardholderData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateCardholderData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CitizenData" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="StageID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateCardholderData" nillable="true" type="tns:CreateCardholderData" />
</xs:schema>