CTSmartCitizenConnect/Service References/SmartConnect/cardmanager22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SmartConnect-CardManagement3-GetCardholderData" elementFormDefault="qualified" targetNamespace="SmartConnect-CardManagement3-GetCardholderData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://warwickshiretest.smartcitizen.net/cardmanager3/cardmanager.svc?xsd=xsd3" namespace="SmartConnect-CardManagement3-RecordIdentifier" />
  <xs:import schemaLocation="https://warwickshiretest.smartcitizen.net/cardmanager3/cardmanager.svc?xsd=xsd6" namespace="SmartConnect-CardManagement3-CardUsageTerminal" />
  <xs:complexType name="GetCardholderData">
    <xs:sequence>
      <xs:element xmlns:q1="SmartConnect-CardManagement3-RecordIdentifier" minOccurs="0" name="CardholderIdentifier" nillable="true" type="q1:RecordIdentifier" />
      <xs:element xmlns:q2="SmartConnect-CardManagement3-CardUsageTerminal" minOccurs="0" name="TerminalIdentifier" nillable="true" type="q2:CardUsageTerminal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCardholderData" nillable="true" type="tns:GetCardholderData" />
</xs:schema>